<div ng-controller="tasksController">
    <div><a ng-href="#/">Go back</a></div>

    <div class="tasksBoard">
        <div class="list-wrapper">

            <!-- <ul class="list" sortable ng-repeat="status in statuses">
                     <h3>{{status.name}}</h3>
                     <hr />
                     <li ng-repeat="task in tasks | filter:{status:status.name}">
                         <post-it task="task"></post-it>
                     </li>
            </ul>-->


            <div class="list" ng-repeat="status in statuses">
                    <div>
                        <h3>{{status.name}}</h3>
                        <hr />
                    </div>

                    <ul ui-sortable="sortableOptions" class="apps-container" ng-model="status.tasks">
                        <li ng-repeat="task in status.tasks">
                            <post-it task="task"></post-it>
                        </li>
                    </ul>
            </div>

            <!--<div ui-sortable="sortableOptions" class="list apps-container" ng-model="toDoTasks">
                <div ng-repeat="task in toDoTasks">
                    <post-it task="task"></post-it>
                </div>
            </div>

            <div ui-sortable="sortableOptions" class="list apps-container" ng-model="inProgressTasks">
                <div ng-repeat="task in inProgressTasks">
                    <post-it task="task"></post-it>
                </div>
            </div>

            <div ui-sortable="sortableOptions" class="list apps-container" ng-model="codeReviewTasks">
                <div ng-repeat="task in codeReviewTasks">
                    <post-it task="task"></post-it>
                </div>
            </div>-->

        </div>
    </div>


</div>
