<div ng-controller="tasksController" >
    <div class="tasksBoard" >
        <div class="list-wrapper">
            <div class="boardHeader">
                {{project.name}}
            </div>
            <div class="row">
                <div class="col-md-2" ng-repeat="status in statuses">
                    <div class="list">
                        <div>
                            <h3>{{status.name}}</h3>
                            <!--<hr />-->
                            <br />
                        </div>

                        <ul ui-sortable="sortableOptions" class="apps-container" ng-model="status.tasks">
                            <li ng-repeat="task in status.tasks">
                                <post-it task="task" ng-click="setCurrentTask(task.id)"></post-it>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 detailPanel" ng-hide="!selectedTask">
                    <div ng-include="'app/templates/views/taskDetail.html'"></div>
                </div>
            </div>

        </div>
    </div>


</div>
